/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 10px;
}

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*navbar*/


nav ul li {
  float: left;
display: block;
font-size: 2rem;
color: white;
margin-right: 3rem;
margin-top: 3.5rem;
text-decoration: none;
}

nav ul li a{
  text-decoration: none;
  color:white;

}

.floatRight{
  float: right;
}

.writeAReview{
  margin-left: 5rem;
}

.extraOp{
  display: none;
}

@media(max-width: 768px){

nav ul li{
float: none;
text-align: center;
}
.floatRight{
float: none;
  text-align: center;
}
.writeAReview{
  margin-left:0rem;
}
.extraOp{
  display: inline-block;
}
.options{
  display: none;
}

/*///////////////hamburger*/

.container{
width: 95%;
max-width: 1000px;
margin: 0 auto;

}

header{
  background-color: black;
  color: white;
  padding: 1em 0;
  position: relative;
  height: 6rem;
}

header::after{
  content: '';
  clear: both;
  display: block;
}


h1{
  float: left;
}

.site-nav{
  position: absolute;
  background: grey;
  top: 100%;
  right: 0%;
  height: 0px;
  overflow: hidden;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li{
  border-bottom: 1px solid black;
  height: 5em;
  /*width: 10em;*/
  text-align: center;
  padding: 2em;


}

.site-nav a {
  color:white;
  text-decoration: none;
  display: block;
  padding: 0em 4em;
  text-transform: uppercase;

}



.menu-toggle{
  background: black;
  padding: 1em;
  position: absolute;
  right: 1em;
  top: .75em;
  right: .75em

}


.hamburger,.hamburger2, .hamburger3{
  content: '';
  display: block;
background: white;
height: .3em;
width: 2.5em;
border-radius: 3px;
transition: all ease-in-out 500ms;


}

.hamburger{
  transform: translateY(-5px);
}

.hamburger3{
  transform: translateY(5px);
}

.siteNavOpen{
  height: auto;
}

.open .hamburger2{
  transform: rotate(45deg);

}
.open .hamburger{
  opacity: 0;

}
.open .hamburger3{
  transform: translateY(-3px) rotate(-50deg);
  transform:

}



}
/*topsection*/
  .cheeseBurger{
    height:60rem;
    width: 100%;
    border: solid black .2rem;
    background-image: url(https://thumbs.dreamstime.com/z/big-cheeseburger-glass-cola-french-fries-black-desk-single-wooden-64720349.jpg);
  }
  .yelp{
    width: 24rem;
  height: 9rem;
  margin-left: 60rem;
  margin-top: 5rem;
  }

  @media(max-width: 768px){

    .yelp{
      text-align: center;
      margin-left: 26rem;
      margin-top: 0rem;
    }
}


/*sectionyelp*/


.searchBars ul li form input,.searchBars ul li form button i{
  float: left;
}



form {
width:50rem;
margin:5rem auto;
}
.searchBar{
width: 50rem;
margin-left: -15rem;
height: 3rem;
}
.searchButton{
  display: inline;
  width: 5rem;
  height: 3rem;
}


@media(max-width: 768px){

  .searchBars ul li form input,.searchBars ul li form button {


    float: left;
    margin-left: 0rem;
    width:25rem;
  }
  .searchbar{
    width:30rem;
    margin-left: 0rem;
  }
  .searchBar {
      width: 30rem;
      margin-left: -3rem;
      height: 3rem;
  }

}

/*undersearch*/



.options{
  width: 100%;
  height:10rem;


}
.options ul{
  margin-left: 35rem;
}



.options ul li a{
  float: left;
      display: block;
      text-decoration: none;
      font-size: 1.8rem;
      color: white;

}
@media(max-width: 768px){
  .options ul{
    margin-left: 0rem;
  }
  .options{
    margin-left: 10rem;
  }

}



.options ul li{
  width: 17%;
  float: left;
  list-style-type: none;
}

.bottomLady img{
  height: 7.5rem;
  width: 7.5rem;
  margin-left: 64.3rem;
}

.bottomLady span{
  text-align: center;
  display: block;
  font-size: 2rem;
  color: white;
}


@media(max-width: 768px){

  .bottomLady img, .bottomLady span{
    display: none;
  }
}

/*bottombar*/
.places{
  height: 20rem;
  width: 100%;
  border: solid black .2rem;
  margin-top: 2.3rem;
}
.places h3{
  text-align: center;
  font-size: 2.5rem;
  color: red;
}
.places ul li{
  list-style-type: none;
float: left;
margin-left: 6.4rem;
margin-right: 2rem;
text-decoration: none;
font-size: 1.9rem

}

.places ul li a{
  text-decoration: none;
}



/*bottompart*/
.bottomPart>h2{
  color:red;
  font-size:2.5rem;
  text-align: center;
}

.boxes{
  height: 43rem;
  width: 30rem;
  border: black solid 2px;
  float: left;
  margin-left: 10rem;
  margin-bottom: 3rem;
}

@media(max-width: 768px){
  .boxes{
    float: left;
    margin-left: 0px;
    width: 33.333%;

  }

}
.food{
  height:50%;
  width:100%
}
.boxes h2{
  color:blue;
  font-weight: bold;
  font-size: 2rem;
}

.boxes>h2+img{
  height: 3rem;
width: 14rem;
}

.reviews{
  display: inline;
  margin-right: 9rem;
}

.business{
  color: blue;
  clear: both;
  text-align: center;
  margin-bottom: 10rem;

}

.fire{
  color: orange;
  font-size: 1.5rem;
}

/*imageblocks*/
.imageBlocks{
  width:100%;
  border: black solid 2px;
 height: 80rem;

  clear:both;
  background-color: silver;

}

@media(max-width: 768px){
  .imageBlocks{
    height: 100rem;
  }

}


.imageBlocks h2{

  color:red;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.imageBlocks ul li{
  width: 23%;
  height: 20rem;
  border: black solid .2rem;
  list-style-type: none;
  float: left;
  margin-right: 2rem;
  margin-top: 7rem;
  background-color: white;
  margin-bottom: 1rem;
  padding:6rem;
  text-align: center;
  text-decoration: none;

}

.imageBlocks ul li a{
  display: block;
  text-decoration: none;
  color: black;
  font-style: 2rem;
  font-weight: bold;
}

@media query (min-width:768px){
  .imageBlocks {
      margin-right: 7rem;

}

.nav{
  display: none;
}


}
